<nz-tabset>
    <nz-tab nzTitle="已处理的任务">
      <nz-table
      #borderedTable
      nzBordered
      nzTitle="需求反馈列表"
      [nzData]="dataSet" 
      >
      <thead>
        <tr>
          <th>任务名称</th>
          <th nzWidth="20%">任务内容</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th  nzWidth="20%">反馈内容</th>
          <th>审查状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of borderedTable.data">
          <td>{{data.tname}}</td>
          <td>{{data.content}}</td>
          <td>{{data.startdt}}</td>
          <td>{{data.enddt}}</td>
          <td>{{data.dmcontent}}</td>
          <td>{{data.dmstate}}</td>
        </tr>
      </tbody>
    </nz-table>
    </nz-tab>

    <nz-tab nzTitle="未处理的任务">
        <nz-table
        #editRowTable
        nzBordered
        nzTitle="需求反馈列表"
        [nzData]="dataSet2">
        <thead>
          <tr>
            <th>任务名称</th>
            <th nzWidth="20%">任务内容</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th  nzWidth="20%">反馈内容</th>
            <th>组长审查状态</th>
            <th>管理操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data">
            <td>
              <div class="editable-cell">
                <div class="editable-cell-text-wrapper">
                  <ng-container *ngIf="!editCache[data.key].edit">
                    {{data.name}}
                  </ng-container>
                  <ng-container *ngIf="editCache[data.key].edit">
                    <input type="text" nz-input [(ngModel)]="editCache[data.key].data.name">
                  </ng-container>
                </div>
              </div>
            </td>
            <td>
              <ng-container *ngIf="!editCache[data.key].edit">
                {{data.age}}
              </ng-container>
              <ng-container *ngIf="editCache[data.key].edit">
                <input type="text" nz-input [(ngModel)]="editCache[data.key].data.age">
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="!editCache[data.key].edit">
                {{data.address}}
              </ng-container>
              <ng-container *ngIf="editCache[data.key].edit">
                <input type="text" nz-input [(ngModel)]="editCache[data.key].data.address">
              </ng-container>
            </td>
            <td>
              <div class="editable-row-operations">
                <ng-container *ngIf="!editCache[data.key].edit">
                  <a (click)="startEdit(data.key)">Edit</a>
                </ng-container>
                <ng-container *ngIf="editCache[data.key].edit">
                  <a (click)="saveEdit(data.key)">Save</a>
                  <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.key)">
                    <a nz-popconfirm>Cancel</a>
                  </nz-popconfirm>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
