<div nz-row>
  <div nz-col nzSpan="5"></div>
    <div nz-col nzSpan="14">
      <div nz-row>
        <button nz-button nzType="primary" style="margin-left: 90%">点击下载文档</button>
        <h2 style="margin-top: 2%">{{doucument.functionname}}</h2>
        <div nz-col nzSpan="3">
        <nz-form-label nzRequired>模块名称</nz-form-label>
        </div>
        <div nz-col nzSpan="8">
          <input type="text" nz-input placeholder="请输入模块名称" [(ngModel)]="doucument.module">
        </div>
        <div nz-col nzSpan="3">
            <nz-form-label nzRequired style="margin-left: 40%">区块</nz-form-label>
        </div>
        <div nz-col nzSpan="8">
            <nz-select style="width: 120px;" [(ngModel)]="doucument.block" nzAllowClear nzPlaceHolder="Choose">
                <nz-option nzValue="跳转关系" nzLabel="跳转关系"></nz-option>
                <nz-option nzValue="内部逻辑" nzLabel="内部逻辑"></nz-option>
                <nz-option nzValue="参数尺寸" nzLabel="参数尺寸"></nz-option>
            </nz-select> 
            
        </div>
        
      </div>
      <div nz-row style="margin-top: 2%">
        <nz-form-label nzRequired>添加图片</nz-form-label>
        <div class="clearfix">
          <nz-upload
            nzAction="project3/upLoadFile"
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzShowButton]="fileList.length < 4"
            [nzPreview]="handlePreview">
              <i nz-icon type="plus"></i>
              <div class="ant-upload-text">Upload</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
          </nz-modal>
        </div>
      </div>

      <div nz-row style="margin-top: 2%">
        <textarea [(ngModel)]="doucument.content" style="width: 100%"  rows="8" placeholder="请输入该部分文档的内容"></textarea>
      </div>
      <div *ngIf="edit">
        <button nz-button style="margin-top: 2%;margin-left: 85%" nzType="primary" (click)="savedoc()">保存</button>
      </div>
      <div nz-row style="margin-top: 2%">
        <nz-table #editRowTable nzBordered [nzData]="dataSet">
          <thead>
            <tr>
              <th nzWidth="30%">模块</th>
              <th>功能点</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of editRowTable.data">
              <td>{{data.docmodule}}</td>
              <td>{{data.fname}}</td>
              <td>{{data.docstatus}}</td>
              <td>
                <a (click)="startEdit(data.id)">编辑</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

    </div>
  <div nz-col nzSpan="5"></div>
</div>
