<nz-tabset>
  <nz-tab nzTitle="任务列表">
    <button nz-button [nzSize]="small" nzType="primary">添加任务</button>
    <nz-table
      #editRowTable
      nzBordered
      [nzData]="dataSet">
      <thead>
        <tr>
          <th>任务名称</th>
          <th>任务需求</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>优先级</th>
          <th>功能点</th>
          <th>故事点</th>
          <th>负责人</th>
          <th>任务类型</th>
          <th>任务量</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.tname}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.tname">
            </ng-container>
          </td>
          <td  width=150 style="word-break:break-all">
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.content}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <textarea type="text" nz-input [(ngModel)]="editCache[data.id].data.content"></textarea>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.startdt}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.startdt">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.enddt}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.enddt">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.priority}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.priority">
            </ng-container>
          </td>
          <td  width=100 style="word-break:break-all">
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.functionname}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.functionname">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.story}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.story">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.owner}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.owner">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.type}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.type">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.effort}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.effort">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.status}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.status">
            </ng-container>
          </td>
          <td width=80 style="word-break:break-all">
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id].edit">
                <a (click)="startEdit(data.id)">修改</a>
              </ng-container>
              <ng-container *ngIf="editCache[data.id].edit">
                <a (click)="saveEdit(data.id)">保存</a>
                <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.id)">
                  &nbsp;<a nz-popconfirm>取消</a>
                </nz-popconfirm>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="任务追踪">
    Content of Tab Pane 2
  </nz-tab>
</nz-tabset>