<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class="logo">
      </div>    
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item routerLink='/index1/hall'><span><i nz-icon type="wechat"></i><span class="nav-text">大厅</span></span></li>
        <li nz-menu-item routerLink='/index1/task'><span><i nz-icon type="user"></i><span class="nav-text">任务</span></span></li>
        <li nz-menu-item routerLink='/index1/document'><span><i nz-icon type="file"></i><span class="nav-text">文档</span></span></li>
        <li nz-menu-item routerLink='/index1/talk'><span><i nz-icon type="usergroup-add"></i><span class="nav-text">讨论</span></span></li>
        <li nz-menu-item routerLink='/index1/check'><span><i nz-icon type="robot"></i><span class="nav-text">审查</span></span></li>
        <li nz-menu-item routerLink='/index1/set'><span><i nz-icon type="setting"></i><span class="nav-text">设置</span></span></li>
        <li nz-menu-item routerLink='/index1/user'><span><i nz-icon type="setting"></i><span class="nav-text">用户管理</span></span></li>
        <li nz-menu-item><span><i nz-icon type="file-text"></i><span class="nav-text" (click)="yyhceshi()"><a href="http://localhost:8004/project4/yindex.html">日志 </a></span></span></li>
         </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
        <i style="margin-left: 85%" (click)="displayMail()" ><a  nz-popover nzTitle="信息" [nzContent]="contentTemplate" nzTrigger="click" >
          <nz-badge [nzCount]="messegesNum" [nzStyle]="{ backgroundColor: '#52c41a' }"><span nz-icon type="mail"></span></nz-badge>
        </a></i>
        <i style="margin-left: 3%" >
            <nz-dropdown [nzPlacement]="'bottomCenter'">
                <a nz-dropdown >
                    <span nz-icon type="user" ></span> <i nz-icon type="down"></i>
                </a>
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>
                    <a (click)="logout()">注销<i nz-icon type="arrow-right" theme="outline"></i></a>
                  </li>
                </ul>
              </nz-dropdown>
          
        
        </i> 
      </nz-header>
      <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
          <nz-breadcrumb-item >{{path2}}</nz-breadcrumb-item>
         
         
        </nz-breadcrumb>
        <div style="padding:24px; background: #fff; min-height: 700px;">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">Ant Design ©2018 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
  <ng-template #contentTemplate>
      <nz-table #mailsTable [nzData]="mails" [nzPageSize]="2">
          <thead>
            <tr>
              <th nzShowExpand></th>
              <th nzWidth="20%">发件人</th>
              <th nzWidth="20%">功能点</th>
              <th nzWidth="25%">时间</th>
              <th>回应</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="mailsTable.data">
              <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>{{data.sender}}</td>
                <td>{{data.functionName}}</td>
                <td>{{data.sendTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <ng-container *ngIf="hide"><span>{{invitationAction}}</span></ng-container>
                    <ng-container *ngIf="!hide"><a (click)=acceptInvitation(data.fid)>接受</a></ng-container>
                    <ng-container *ngIf="!hide"><span>/</span></ng-container>
                    <ng-container *ngIf="!hide"> <a (click)=refuseInvitation(data.fid)>拒绝</a></ng-container>
                </td>
              </tr>
              <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="4">{{data.functionContent}}</td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
    </ng-template>