<nz-table
      #editRowTable
      nzBordered
      [nzData]="dataSet">
      <thead>
        <tr>
          <th nzWidth="25%">姓名</th>
          <th nzWidth="15%">电话</th>
          <th nzWidth="40%">分数</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container *ngIf="!editCache[data.id].edit">
                  {{data.name}}
                </ng-container>
                <ng-container *ngIf="editCache[data.id].edit">
                  <input type="text" nz-input [(ngModel)]="editCache[data.id].data.name">
                </ng-container>
              </div>
            </div>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.age}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.password">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit">
              {{data.address}}
            </ng-container>
            <ng-container *ngIf="editCache[data.id].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data.id">
            </ng-container>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id].edit">
                <a (click)="startEdit(data.id)">Edit</a>
              </ng-container>
              <ng-container *ngIf="editCache[data.id].edit">
                <a (click)="saveEdit(data.id)">Save</a>
                <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.id)">
                  <a nz-popconfirm>Cancel</a>
                </nz-popconfirm>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>