<nz-tabset>
  <nz-tab nzTitle="所有WIKI">
      <nz-table
      #borderedTable
      nzBordered
      nzTitle="所有WIKI列表"
      [nzData]="dataSet">
      <thead>
        <tr>
          <th>标题</th>
          <th>记录人</th>
          <th>时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of borderedTable.data">
          <td>{{data.title}}</td>
          <td>{{data.author}}</td>
          <td>{{data.creattime}}</td>
          <td><a href="#">详情</a></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="个人WIKI">
      <nz-table
      #bordered2Table
      nzBordered
      nzTitle="个人WIKI列表"
      [nzData]="dataSet2">
      <thead>
        <tr>
          <th>标题</th>
          <th>作者</th>
          <th>时间</th>
          <th>管理操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of bordered2Table.data">
          <td>{{data.title}}</td>
          <td>{{data.author}}</td>
          <td>{{data.creattime}}</td>
          <td><a href="#">删除</a></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="会议WIKI" >
    <nz-table
    #bordered3Table
    nzBordered
    nzTitle="会议WIKI列表"
    [nzData]="dataSet3">
    <thead>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>时间</th>
        <th>管理操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bordered3Table.data">
        <td>{{data.title}}</td>
        <td>{{data.author}}</td>
        <td>{{data.creattime}}</td>
        <td><a href="#">删除</a></td>
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>
</nz-tabset>