    <nz-layout class="layout">
      <!-- <nz-header>
        <div class="logo"></div>
      </nz-header> -->
      <nz-layout>
        <nz-sider [nzWidth]="200" style="background:#fff">
            <ul nz-menu [nzMode]="'inline'" style="width: 200px;">
                
                
                <li nz-submenu>
                  <span title><i nz-icon type="user"></i> 用户列表</span>
                  <ul>
                    <li nz-menu-item  *ngFor="let user of users">
                        {{user.name}}
                    </li>
                  </ul>
                </li>
              </ul>

          <!-- <ul nz-menu [nzMode]="'inline'" style="height:100%">
                <li *ngFor="let user of users">
                       {{user.name}}
                </li>
          </ul> -->
        </nz-sider>
        <nz-layout style="padding:0 24px 24px">
          <nz-content style="background:#fff; min-height: 700px;">
             <h1 style="text-align:center">聊天室  <button nz-button nzType="primary"  (click)="join()" style="margin-left: 80px" nzGhost>加入聊天室</button></h1>
             <textarea cols="100" rows="9" nz-input [(ngModel)]="chatContent"></textarea>
             <br>
            <nz-input-group [nzSize]="'large'">
              <div nz-col nzSpan="3">
                <nz-form-label>消息</nz-form-label>
              </div>
              <div nz-col nzSpan="12">
                <input type="text" nz-input [(ngModel)]="sendText"> 
              </div>
              <div nz-col nzSpan="3">
              <button nz-button nzType="primary"  (click)="sendMessageToserver()" nzGhost>发送</button>
              </div>
            </nz-input-group>
        </nz-content>
        </nz-layout>
      </nz-layout>
    </nz-layout>
  